* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background: #dddddd;
  width: 100%;
}

nav {
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

.container {
  background-color: #dddddd;
  max-width: 900px;
  margin: 0 auto;
  width: 80%;
}

.row {
  display: flex;
}

.nav {
  border: 2px solid blue;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  border: 2px solid red;
  padding-inline-start: 0;
}

.nav__item {
}

.nav__item + .nav__item {
  margin-left: 1em;
}

.logo {
  align-content: center;
}

.about__me {
  text-align: center;
}
