* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

.container {
  background-color: #dddddd;
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.nav {
  border: 2px solid blue;
  align-content: center;
}

.nav__list {
  border: 2px solid red;
  margin: 0;
  padding: 0;
}

.nav__item {
  border: 2px solid red;
}

.logo {
  align-content: center;
}
